@model BugSpy.Models.Ticket

@{
    ViewData["Title"] = "Edit";
}

<h2 class="fs-lg fw-medium">Editing...</h2>

<h2 class="fs-lg fw-medium">Ticket #@Model.Id: @Model.Title</h2>
<hr />


















<form asp-action="Edit" method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Created" />
    <input type="hidden" asp-for="Updated" />
    <input type="hidden" asp-for="SubmitterUserId" />
    <input type="hidden" asp-for="ProjectId" />

    <!-- BEGIN: Post Content -->
    <div class="pos intro-y grid columns-12 gap-5 mt-5">
        <!-- BEGIN: Post Content -->
        <div class="intro-y g-col-12 g-col-lg-8">
            <label asp-for="Title" class="control-label">Ticket Title</label>
            <input asp-for="Title" class=" mt-2 intro-y form-control py-3 px-4 box border-white dark-border-dark-3 pe-10 placeholder-theme-13" placeholder="Ticket Title" />
            <span asp-validation-for="Title" class="text-danger"></span>
            @*<input type="text" class="intro-y form-control py-3 px-4 box border-white dark-border-dark-3 pe-10 placeholder-theme-13" placeholder="Title">*@
            <div class="post intro-y overflow-hidden box mt-5">

                <div class="post__content tab-content">
                    <div class="tab-pane p-5 fade show active" id="content" role="tabpanel" aria-labelledby="content-tab">
 
                        <div class="intro-y col-12">
                            <div class="box">
                                <div class="d-flex flex-column flex-sm-row align-items-center p-5 border-bottom border-gray-200 dark-border-dark-5">
                                    <h2 class="fw-medium fs-base me-auto">
                                        Ticket Description
                                    </h2>
         
                                </div>
                                <div class="p-5" id="classic-editor">
                                    <div class="preview">
                                        <textarea asp-for="Description" class="editor">
                                            
                                        </textarea>
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                    <div class="source-code d-none">
                                        <button data-target="#copy-classic-editor" class="copy-code btn py-1 px-2 btn-outline-secondary"> <i data-feather="file" class="w-4 h-4 me-2"></i> Copy example code </button>
                                        <div class="overflow-y-auto mt-3 rounded-2">
                                            <pre class="source-preview" id="copy-classic-editor"> <code class="javascript fs-xs p-0 vh-60 rounded-2 ps-5 pt-8 pb-4 mb-n10 mt-n10"> import ClassicEditor from &quot;ckeditor/ckeditor5-build-classic&quot;; cash(&quot;.editor&quot;).each(function () { const el = this; ClassicEditor.create(el).catch((error) =HTMLCloseTag { console.error(error); }); }); </code> </pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <!-- END: Post Content -->
        <!-- BEGIN: Post Info -->
        <div class="g-col-12 mt-6 g-col-lg-4">
            <div class="intro-y box p-5">
  

                <div class="mt-3">
                    <label asp-for="TicketTypeId" class="form-label">Ticket Type</label>
                    <select asp-for="TicketTypeId" asp-items="ViewBag.TicketTypeId" data-placeholder="SelectType" class="tom-select w-full" id="post-form-3">
                        <option></option>
                    
                    </select>
                </div>

                <div class="mt-3">
                    <label asp-for="TicketStatusId" class="form-label">Ticket Status</label>
                    <select asp-for="TicketStatusId"  asp-items="ViewBag.TicketStatusId" data-placeholder="Select Status" class="tom-select w-full" id="post-form-3">
                        <option></option>

                    </select>
                </div>


                <div class="mt-3">
                    <label asp-for="TicketPriorityId" class="form-label">Ticket Priority</label>
                    <select asp-for="TicketPriorityId"  asp-items="ViewBag.TicketPriorityId" data-placeholder="Select Priority" class="tom-select w-full" id="post-form-3">
                        <option></option>

                    </select>
                </div>







                <a asp-controller="Tickets" asp-action="Details" asp-route-id="@Model.Id" type="button" class="btn w-full mt-3 btn-outline-secondary  me-1" style="width:inherit;height:min-content">Cancel</a>
                <button type="submit" style="width:inherit;height:min-content" value="Save" class="w-full mt-3 btn btn-primary"> Save </button>
                
            </div>
        </div>
        <!-- END: Post Info -->
    </div>
</form>

































@section Scripts {
    <script src="~/dist/js/ckeditor-classic.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
