@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}


<h1 class="d-block display-4">@ViewData["Title"]</h1>

<header>
  
    @{
        if (User.Identity.IsAuthenticated)
        {
           
            <div class="d-flex d-block justify-content-center">
                
                <form class="form" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                    <button type="submit" class="mt-40 px-10 py-6  btn btn-primary text-light">Click here to Logout</button>
                </form>
            </div>
  
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</header>
