@model BugSpy.Models.Project
@using BugSpy.Services.Interfaces
@inject IBTFileService _fileService

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Project</h4>
<hr />














<form asp-action="Create" enctype="multipart/form-data">
    <div class="intro-y box p-5">
        <div class="grid columns-12 gap-5 gap-y-5 mt-5">

            <div class="intro-y g-col-12 g-col-sm-6">
                <label asp-for="Name" class="form-label">Project Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>




            <div class="intro-y g-col-12 g-col-sm-6">
                <label asp-for="ProjectPriorityId" class="form-label">Project Priority</label>
                <select asp-for="ProjectPriorityId" asp-items="ViewBag.ProjectPriorityId" data-placeholder="SelectType" class="tom-select w-full" id="post-form-3">
                    <option></option>

                </select>
            </div>



@*
            <div class="intro-y g-col-12 g-col-sm-6">


                <label asp-for="ProjectPriorityId" class="control-label">Project Priority</label>
                <select asp-for="ProjectPriorityId" class="form-control" asp-items="ViewBag.ProjectPriorityId"></select>

            </div>*@

            <div class="intro-y g-col-12 g-col-sm-4">

                <label class="form-label" asp-for="StartDate"></label>
                <input asp-for="StartDate" class="form-control" type="datetime-local" />
                <span asp-validation-for="StartDate" class="text-danger"></span>

                

            </div>

            <div class="intro-y g-col-12 g-col-sm-4">

                <label class="form-label" asp-for="EndDate"></label>
                <input asp-for="EndDate" class="form-control" type="datetime-local" />
                <span asp-validation-for="EndDate" class="text-danger"></span>



            </div>


            <div class="intro-y g-col-12 g-col-sm-4">

                <label asp-for="ImageFormFile" class="form-label">Project Image</label>
              
                <input asp-for="ImageFormFile" type="file" class="form-control" accept=".png,.jpg,.jpeg,.gif"
                        />



            </div>

            <div class="intro-y g-col-12">

                <div class="box">
                    <div class="d-flex flex-column flex-sm-row align-items-center p-5 border-bottom border-gray-200 dark-border-dark-5">
                        <h2 class="fw-medium fs-base me-auto">
                            Project Description
                        </h2>

                    </div>
                    <div class="p-5" id="classic-editor">
                        <div class="preview">
                            <textarea asp-for="Description" class="editor">

                                        </textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="source-code d-none">
                            <button data-target="#copy-classic-editor" class="copy-code btn py-1 px-2 btn-outline-secondary"> <i data-feather="file" class="w-4 h-4 me-2"></i> Copy example code </button>
                            <div class="overflow-y-auto mt-3 rounded-2">
                                <pre class="source-preview" id="copy-classic-editor"> <code class="javascript fs-xs p-0 vh-60 rounded-2 ps-5 pt-8 pb-4 mb-n10 mt-n10"> import ClassicEditor from &quot;ckeditor/ckeditor5-build-classic&quot;; cash(&quot;.editor&quot;).each(function () { const el = this; ClassicEditor.create(el).catch((error) =HTMLCloseTag { console.error(error); }); }); </code> </pre>
                            </div>
                        </div>
                    </div>
                </div>

            </div>



        </div>


        <div class="text-end mt-5">
            <button type="button" class="btn btn-outline-secondary w-24 me-1">Cancel</button>
            <button type="submit" value="Create" class="btn btn-primary w-24">Create</button>
        </div>
    </div>

</form>














<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        <script src="~/dist/js/ckeditor-classic.js"></script>
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
































@*@model BugSpy.Models.Project
@using BugSpy.Services.Interfaces
@inject IBTFileService _fileService

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Projects" asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Archived" /> @Html.DisplayNameFor(model => model.Archived)
                </label>
            </div>

            <div class="col-12 col-lg-6 mt-3">
                <label asp-for="Members" class="control-label"></label>
                <select class="form-control" asp-items="ViewBag.Members" name="Selected" multiple></select>
            </div>

            <div class="form-group">
                <label asp-for="CompanyId" class="control-label"></label>
                <select asp-for="CompanyId" class ="form-control" asp-items="ViewBag.CompanyId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProjectPriorityId" class="control-label"></label>
                <select asp-for="ProjectPriorityId" class ="form-control" asp-items="ViewBag.ProjectPriorityId"></select>
            </div>



                <div class="form-group">
                <label asp-for="ImageFormFile" class="control-label">Project Image</label>
                    <img class="img-fluid border rounded-3 m-2" style="max-height: 250px;" src="~/img/DefaultProjectImage.png" id="projectImage">
                    <input asp-for="ImageFormFile" type="file" class="form-control mt-3 pt-2" accept=".png,.jpg,.jpeg,.gif"
                           onchange="document.getElementById('projectImage').src = window.URL.createObjectURL(this.files[0])" />
                </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
*@