@model BugSpy.Models.Project

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Project</h4>
<hr />
<div class="row">




<form asp-action="Edit" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Created" />
    <input type="hidden" asp-for="ImageFileData" />
    <input type="hidden" asp-for="ImageFileType" />


        <div class="intro-y box p-5">
            <div class="grid columns-12 gap-5 gap-y-5 mt-5">

                <div class="intro-y g-col-12 g-col-sm-6">
                    <label asp-for="Name" class="form-label">Project Name</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="intro-y g-col-12 g-col-sm-6">
                    <label asp-for="ProjectPriorityId" class="form-label">Project Priority</label>
                    <select asp-for="ProjectPriorityId" asp-items="ViewBag.ProjectPriorityId" data-placeholder="SelectType" class="tom-select w-full" id="post-form-3">
                        <option></option>

                    </select>
                </div>

                <div class="intro-y g-col-12 g-col-sm-4">

                    <label class="form-label" asp-for="StartDate"></label>
                    <input asp-for="StartDate" class="form-control" type="datetime-local" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>



                </div>

                <div class="intro-y g-col-12 g-col-sm-4">

                    <label class="form-label" asp-for="EndDate"></label>
                    <input asp-for="EndDate" class="form-control" type="datetime-local" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>



                </div>


                <div class="intro-y g-col-12 g-col-sm-4">

                    <label asp-for="ImageFormFile" class="form-label">Project Image</label>

                    <input asp-for="ImageFormFile" type="file" class="form-control" accept=".png,.jpg,.jpeg,.gif" />



                </div>

                <div class="intro-y g-col-12">

                    <div class="box">
                        <div class="d-flex flex-column flex-sm-row align-items-center p-5 border-bottom border-gray-200 dark-border-dark-5">
                            <h2 class="fw-medium fs-base me-auto">
                                Project Description
                            </h2>

                        </div>
                        <div class="p-5" id="classic-editor">
                            <div class="preview">
                                <textarea asp-for="Description" class="editor">

                                        </textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="source-code d-none">
                                <button data-target="#copy-classic-editor" class="copy-code btn py-1 px-2 btn-outline-secondary"> <i data-feather="file" class="w-4 h-4 me-2"></i> Copy example code </button>
                                <div class="overflow-y-auto mt-3 rounded-2">
                                    <pre class="source-preview" id="copy-classic-editor"> <code class="javascript fs-xs p-0 vh-60 rounded-2 ps-5 pt-8 pb-4 mb-n10 mt-n10"> import ClassicEditor from &quot;ckeditor/ckeditor5-build-classic&quot;; cash(&quot;.editor&quot;).each(function () { const el = this; ClassicEditor.create(el).catch((error) =HTMLCloseTag { console.error(error); }); }); </code> </pre>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



            </div>


            <div class="text-end mt-5">
                <button type="button" class="btn btn-outline-secondary w-24 me-1">Cancel</button>
                <button type="submit" value="Save" class="btn btn-primary w-24">Save</button>
            </div>
        </div>

</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
        <script src="~/dist/js/ckeditor-classic.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
